.todo {
  border: 2px solid black;
  width: fit-content;
  max-width: 20vw;
  background-color: var(--pastelYellow);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.todo:hover {
  cursor: grab;
}

.optionsDiv {
  display: flex;
  flex-direction: column;
}

.trashWrapper {
  width: fit-content;
  align-self: center;
  transition-property: color, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.trashWrapper:hover {
  transform: scale(1.3);
  cursor: pointer;
  color: red;
}

.trash {
  font-size: 30px;
}

.checkBox {
  font-size: 30px;
  cursor: pointer;
}

.checkedBox {
  color: green;
}

.overlay {
  transition: background-color 0.2s ease-in-out;
  background-color: rgb(172, 168, 168);
  color: rgba(69, 66, 66, 0.283);

  .line {
    border: 1px dashed rgba(67, 63, 63, 0.283);
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

.text,
.title {
  max-width: 100%;
}

.line {
  border: 1px dashed black;
  width: 100%;
}

.editWrapper:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.edit {
  font-size: 20px;
}

.titleInput,
.textInput {
  border: none;
  border-radius: 8px;
  resize: none;
  margin: 15px 0;
  font-size: 15px;
}

.outerWrapper {
  display: flex;
  align-items: center;
}

.titleDiv {
  overflow-wrap: anywhere;
}
