.app {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.body {
  display: flex;
  padding: 100px;
  justify-content: space-around;
}

.login {
  display: flex;
  flex-direction: column;
  margin: auto;
}
