#root {
  height: 100%;
}

:root {
  /* Colors */
  --pastelOrange: rgb(255, 218, 193);
  --pastelYellow: rgb(255, 250, 160);
  --pastelBlue: rgb(199, 206, 234);
  --pastelGreen: rgb(181, 234, 215);
  --pastelViolet: rgb(220, 203, 252);
}

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}
